<div class="section section-referal" style="background: #F5F7F9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Реферальная система</h2>
                </div>
                <div class="section-descr section-descr--full">
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>Мы нацелены на постоянный стабильный рост стоимости наших активов, поэтому каждому инвестору предлагаем воспользоваться партнёрской программой.</p>
                        </div>
                    </div>
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>Приглашайте друзей и знакомых - и получайте бонус в размере 4% от внесённой и заделегированной ими суммы! Вы также получите дополнительные бонусы за приглашённых Вашими рефералами пользователей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="referal">
        <div class="container">
            <div class="row">
                <div class="col-12 info-block">
                    <div class="info-block__inner">
                        <div class="info-block-col">
                            <div class="info-block__title">Партнерская программа</div>
                            <div class="info-block__descr">
                                <p>Мы разработали 3х уровневую партнёрскую программу, которая позволяет нашим инвесторам получить дополнительный доход, а компании остаться на допустимом уровне доходности.</p>
                            </div>
                        </div>
                        <div class="info-block-lvl">
                            <div class="info-block-lvl__list">
                                <div class="info-block-lvl__item info-block-lvl__item--1">
                                    <div class="info-block-lvl-item__text">1 уровень</div>
                                    <div class="info-block-lvl-item__value">1%</div>
                                </div>
                                <div class="info-block-lvl__item info-block-lvl__item--2">
                                    <div class="info-block-lvl-item__text">2 уровень</div>
                                    <div class="info-block-lvl-item__value">0.3%</div>
                                </div>
                                <div class="info-block-lvl__item info-block-lvl__item--3">
                                    <div class="info-block-lvl-item__text">3 уровень</div>
                                    <div class="info-block-lvl-item__value">0.3%</div>
                                </div>
                            </div>
                        </div>
                        <div class="info-block__images">
                            <img src="./images/info-block-img-4.svg" alt="" class="info-block__image wow fadeInup" data-wow-delay="0.1s" style="right: 0px; bottom: 0px; z-index: 1; visibility: visible; animation-delay: 0.1s;">
                            <img src="./images/info-block-img-5.svg" alt="" class="info-block__image wow fadeInUp" data-wow-delay="0.3s" style="right: 0px; bottom: 0px; z-index: 1; visibility: visible; animation-delay: 0.3s;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>