<div class="section section-company-info" style="background: #F5F7F9;">
    <div class="container">
        <div class="company-info__list">
            <div class="company-info-item">
                <div class="company-info-item__title h4">Компания заработала</div>
                <div class="company-info__sublist">
                    <div class="company-info-subitem">
                        <div class="company-info-subitem__title">Всего</div>
                        <div class="company-info-subitem__value">X%</div>
                    </div>
                    <div class="company-info-subitem">
                        <div class="company-info-subitem__title">За месяц</div>
                        <div class="company-info-subitem__value">X%</div>
                    </div>
                    <div class="company-info-subitem">
                        <div class="company-info-subitem__title">За сутки</div>
                        <div class="company-info-subitem__value">X%</div>
                    </div>
                </div>
            </div>
            <div class="company-info-item">
                <div class="company-info-item__title h4">Всего инверсторов</div>
                <div class="company-info-item__value">X человек</div>
            </div>
            <div class="company-info-item">
                <div class="company-info-item__title h4">Курс MDC</div>
                <div class="company-info-item__value">X</div>
            </div>
        </div>
        <div class="company-info-result">
            <div class="company-info-result__title">Последний ордер:</div>
            <div class="company-info-result__value">Информация временно недоступна</div>
        </div>
    </div>
</div>