<div class="section section-target section--bordered">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="section-title">
                    <h2>Наша большая цель</h2>
                </div>
                <div class="section-descr">
                    <p>Создать условия, при которых каждый может стать частью финансового мира и быть уверенным в сохранении и активном росте своего капитала.</p>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center align-items-end">
                <a href="#" class="btn btn--bordered btn--arrow">
                    <span class="btn-text">Скачать презентацию</span>
                    <span class="btn-arrow-wrap">
                        <svg class="i-icon i-arrow-right">
                            <use xlink:href="#i-arrow-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="col-12 video">
                <a data-fancybox href="https://www.youtube.com/watch?v=ia3S6VHiBMU&ab_channel=MDC" class="video-link">
                    <img src="./images/video-img.png" alt="" class="video-img img-fluid">
                    <img src="./images/video-play.svg" alt="" class="video-play">
                </a>
            </div>
        </div>
    </div>
</div>