<div class="section section-callback section--bordered">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 callback-col">
                <div class="callback__title">
                    <h3>Есть вопросы? <br> Получи консультацию эксперта!</h3>
                </div>
            </div>
            <div class="col-lg-6 col-12 callback-col d-flex justify-content-lg-end">
                <div class="callback__btn">
                    <a href="#" class="btn btn--bordered btn--arrow">
                        <svg class="i-icon i-tg">
                            <use xlink:href="#i-tg"></use>
                        </svg>
                        <span class="btn-text">Получить консультацию</span>
                        <span class="btn-arrow-wrap">
                            <svg class="i-icon i-arrow-right">
                                <use xlink:href="#i-arrow-right"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>