<div class="section-income section--bordered">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="section-title">
                    <h2>Распределение прибыли</h2>
                </div>
                <div class="section-descr">
                    <p>Medici гарантирует минимальный доход для каждого инвестора в размере <b>5% в месяц</b>.</p>
                    <p>Это возможно благодаря непрерывной работе опытных аналитиков и экспертов проекта. </p>
                    <p>После распределения гарантированного дохода среди участников, прибыль компании распределяется следующим образом:</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="polygon polygon--blue">
                    <div class="income-schedule">
                        <picture class="income-schedule__picture">
                            <img src="./images/income-schedule-img.svg" alt="" class="income-schedule__image img-fluid">
                        </picture>
                        <ul class="income-schedule__list">
                            <li class="income-schedule__item wow fadeInDown" data-wow-delay="0.1s" style="color: #CB2123"><span>40% - среди всех участников пропорционально вложенным средствам</span></li>
                            <li class="income-schedule__item wow fadeInDown" data-wow-delay="0.2s" style="color: #125DA2"><span>40% - в стабилизационный фонд проекта</span></li>
                            <li class="income-schedule__item wow fadeInDown" data-wow-delay="0.3s" style="color: #F7BE12"><span>20% - управляющая компания на административные расходы</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>