<div class="section section-referal" style="background: #F5F7F9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Реферальная система</h2>
                </div>
                <div class="section-descr section-descr--full">
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>Мы нацелены на постоянный стабильный рост стоимости наших активов, поэтому каждому инвестору предлагаем воспользоваться партнёрской программой.</p>
                        </div>
                    </div>
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>Приглашайте друзей и знакомых - и получайте бонус в размере 4% от внесённой и заделегированной ими суммы! Вы также получите дополнительные бонусы за приглашённых Вашими рефералами пользователей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>