<div class="section section-how-work" style="background: #F5F7F9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Как это работает</h2>
                </div>
                <div class="section-descr section-descr--full">
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>Medici Investment самостоятельно распределяет средства инвесторов в различные финансовые инструменты так, чтобы получить максимальную доходность при минимальных рисках. </p>
                        </div>
                    </div>
                    <div class="section-descr__col">
                        <div class="section-descr-col__inner">
                            <p>При этом пользователи платформы, вкладывая свои денежные средства, полностью защищены от каких-либо рисков в отличие от самостоятельных участников финансового рынка.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-work-info-blocks">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 info-block">
                    <div class="info-block__inner">
                        <div class="info-block-col">
                            <div class="info-block__title">Основные направления:</div>
                            <div class="info-block__descr">
                                <ul>
                                    <li>Роботизированная торговля на Forex</li>
                                    <li>Роботизированная торговля криптовалютой</li>
                                    <li>Роботизированная торговля на фондовой бирже</li>
                                    <li>Участие в IPO компаний</li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-block__images">
                            <img src="./images/info-block-img-4.svg" alt="" class="info-block__image wow fadeInup" data-wow-delay="0.1s" style="right: 0; bottom: 0; z-index: 1;">
                            <img src="./images/info-block-img-5.svg" alt="" class="info-block__image wow fadeInUp" data-wow-delay="0.3s" style="right: 0; bottom: 0; z-index: 1;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 info-block">
                    <div class="info-block__inner">
                        <div class="info-block-col">
                            <div class="info-block__title">Стабилизационный фонд:</div>
                            <div class="info-block__descr">
                                <ul>
                                    <li>Коммерческая недвижимость</li>
                                    <li>Другие ликвидные активы</li>
                                    <hr>
                                    <li>Доход от использования ресурсов распределяется между всеми участниками</li>
                                    <li>Является страховым фондом на выплаты участникам</li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-block__images">
                            <img src="./images/info-block-img-6.svg" alt="" class="info-block__image wow fadeInUp" data-wow-delay="0.1s" style="right: 0; bottom: 0; z-index: 3;">
                            <img src="./images/info-block-img-7.svg" alt="" class="info-block__image wow fadeInUp" data-wow-delay="0.3s" style="right: 18px; bottom: 40px; z-index: 1;">
                            <img src="./images/info-block-img-8.svg" alt="" class="info-block__image wow fadeInUp" data-wow-delay="0.5s" style="right: 40px; bottom: 40px; z-index: 3;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>