<div class="section section-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="section-title">
                    <h2>Кто мы</h2>
                </div>
                <div class="section-descr">
                    <p>Инвестиционная платформа Medici - это проект, созданный командой экспертов финансовых рынков.</p>
                    <p>Medici позволяет каждому человеку начать инвестировать с любой суммы, получая при этом гарантированный доход от 60% до 200% в год (с учётом роста курса собственной DPoS-монеты MEDICI).</p>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="about-images">
                    <img src="./images/about-image-1.png" alt="" class="about-image aos-animate wow fadeInDown" data-wow-delay="0.2s" style="top: -6px;left: 3%; z-index: 2">
                    <img src="./images/about-image-2.svg" alt="" class="about-image aos-animate wow fadeInDown" data-wow-delay="0.4s" style="bottom: 15%;right: 0; z-index: 1;">
                </div>
            </div>
        </div>
    </div>
</div>