<div class="section section-glad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="section-title">
                    <h2>Мы рады тому, что уровень всеобщей финансовой грамотности начинает расти</h2>
                </div>
                <div class="section-descr">
                    <p>Сохранение и преумножение своего капитала – это:</p>
                    <ul>
                        <li>финансовая безопасность Вас и Вашей семьи</li>
                        <li>возможность планировать крупные покупки</li>
                        <li>безошибочный путь к достойной жизни после исчерпания Вашего трудового потенциала</li>
                    </ul>
                    <p>Мы изучили все возможные инвестиционные инструменты, постоянно мониторим множество показателей на рынке и распределяем свой портфель для получения максимальной прибыли, обеспечивая сохранность наших активов.</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <img src="./images/glad-img.png" alt="" class="img-fluid wow fadeInDown" data-wow-delay="0.2s">
            </div>
        </div>
    </div>
</div>