<div class="section section-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="section-head__title">
                    <h1 class="h1"><%- title %></h1>
                    <% if(subtitle) { %>
                        <div class="section-head__subtitle">
                            <%= subtitle %>
                        </div>
                    <% }%>
                    <img src="./images/main-banner-img.svg" alt="" class="img-fluid wow fadeInDown d-lg-none" data-wow-delay="0.2s">

                </div>

                <div class="info-block">
                    <div class="info-block__inner">
                        <div class="info-block-col">
                            <div class="info-block__title">Начать очень просто!</div>
                            <div class="info-block__descr">Зарегистрируйся и получи 5000 mdc <br> на свой счет прямо сейчас</div>
                            <a href="#" class="btn btn--red">Регистрация</a>
                        </div>
                        <div class="info-block__images">
                            <img src="./images/info-block-img-1.svg" alt="" class="info-block__image wow fadeIn" data-wow-delay="0.2s" style="right: 50px; bottom: 48px; z-index: 3;">
                            <img src="./images/info-block-img-2.svg" alt="" class="info-block__image wow fadeInLeft" data-wow-delay="0.4s" style="right: 18px; bottom: 40px; z-index: 1;">
                            <img src="./images/info-block-img-3.svg" alt="" class="info-block__image wow fadeInLeft" data-wow-delay="0.4s" style="right: 40px; bottom: 40px; z-index: 3;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <img src="./images/main-banner-img.svg" alt="" class="img-fluid wow fadeInDown d-lg-block d-none" data-wow-delay="0.2s" style="padding-left: 6px;">
            </div>
        </div>
    </div>
</div>