@import "../media.css";
@import "../variables.css";

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 36px;

    padding: 2px 19px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1;

    box-sizing: border-box;
    border-radius: 60px;

    &--red{
        background-color: var(--c-red);
        color: var(--c-white);
        &:hover{
            background-color: var(--c-red-hover);
            color: var(--c-white);
        }
    }

    &--blue{
         background-color: var(--c-blue);
         color: var(--c-white);
        &:hover{
             background-color: var(--c-blue);
             color: var(--c-white);
        }
    }

    &--bordered{
         border: 1px solid var(--border);
    }
    &--arrow{
        display: inline-flex;
        align-items: center;
        padding-left: 0;
        padding-right: 6px;
        height: 65px;
        .i-tg{
            margin-left: 18px;
            & + .btn-text{
                margin-left: 9px;
            }
        }
        .btn-text{
            display: inline-block;
            margin-left: 35px;
            margin-right: 40px;

            font-size: 18px;
            line-height: 1.44;
        }
    }
    &--big{
        max-width: 230px;
        width: 100%;
        height: 65px;
        font-size: 18px;
    }

    .btn-arrow-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background-color: var(--c-red);
        svg{
            margin: 0 auto;
        }
    }
}