@import "../media.css";
@import "../variables.css";

.footer {
    padding: 40px 0 60px;
    background: #1E1F20;

    @media(max-width: 991px){
        text-align: center;
    }
}
.footer-logo{
    @media(max-width: 991px){
        margin-bottom: 50px;
    }
}
.footer-logo__inner{

}
.footer-logo__link{
    display: block;
}
.footer-logo__img{

}
.footer-nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    @media(max-width: 991px){
        flex-direction: column;
        align-items: center;
    }
}
.footer-nav__inner{

}
.footer {

    .navbar-nav {
        padding: 0;
    }
    .nav-item{
        list-style: none;
        &:not(:last-child){
             margin-bottom: 21px;
        }
    }
    .nav-link{
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #FFFFFF;
    }

}
.footer-social{
    padding-top: 20px;
    @media(max-width: 991px){
       .social-list{
           justify-content: center;
       }
    }
}
