        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-12 footer-logo">
                        <div class="footer-logo__inner">
                            <a href="#" class="footer-logo__link">
                                <img src="./images/footer-logo.png" alt="" class="footer-logo__img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 footer-nav">
                        <nav class="footer-nav__inner">
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Наша миссия</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Как это работает?</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Калькулятор доходности</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Распределение прибыли</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="footer-nav__inner">
                            <ul class="footer-nav__list">
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Партнёрская программа</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Вопросы и ответы</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Новости</a>
                                </li>
                                <li class="footer-nav__item">
                                    <a href="#" class="footer-nav__link">Политика конфиденциальности</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-12 footer-social">
                        <div class="social">
                            <div class="social-block">
                                <div class="social-item__title">Социальные сети</div>
                                <div class="social-list">
                                    <div class="social-item">
                                        <a href="#" class="social-item__link">
                                            <img src="./images/social-wa.svg" alt="" class="social-item__img">
                                        </a>
                                    </div>
                                    <div class="social-item">
                                        <a href="#" class="social-item__link">
                                            <img src="./images/social-vk.svg" alt="" class="social-item__img">
                                        </a>
                                    </div>
                                    <div class="social-item">
                                        <a href="#" class="social-item__link">
                                            <img src="./images/social-inst.svg" alt="" class="social-item__img">
                                        </a>
                                    </div>
                                    <div class="social-item">
                                        <a href="#" class="social-item__link">
                                            <img src="./images/social-tg.svg" alt="" class="social-item__img">
                                        </a>
                                    </div>
                                    <div class="social-item">
                                        <a href="#" class="social-item__link">
                                            <img src="./images/social-mail.svg" alt="" class="social-item__img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="social-block">
                                <div class="social-item__title">Контакты</div>
                                <a href="tel:+7(999)655-15-15" class="social__phone">+7(999)655-15-15</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </body>
</html>