<!-- (c) Digital Element || http://www.d-element.ru/ -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&amp;lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="flow-container <%= flowContainerClass && flowContainerClass %>">
    <div class="content">
        <header class="header">
            <div class="header-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <div class="header-logo">
                            <a href="#" class="header-logo__link">
                                <div class="header-logo__picture">
                                    <img src="./images/logo.png" alt="" class="header-logo__img">
                                </div>
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        О компании
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Наша миссия</a>
                                        <a class="dropdown-item" href="#">Как это работает?</a>
                                        <a class="dropdown-item" href="#">Калькулятор доходности</a>
                                        <a class="dropdown-item" href="#">Распределение доходности</a>
                                        <a class="dropdown-item" href="#">Парнерская программа</a>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Вопросы и ответы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Новости</a>
                                </li>
                            </ul>
                            <div class="sign-up">
                                <a href="#" class="btn btn--red">Начать бесплатно</a>
                                <a href="#" class="btn btn--bordered">Войти</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>