@import "variables.css";
@import "media.css";

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.56;
    font-weight: 400;
}

body {
    min-height: inherit;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: var(--c-main);
    overflow-y: scroll;
    overflow-x: hidden;
    &.overflow-hidden {

    }
}

#svg-sprite {
    display: none !important;
}

.flow-container {
    display: flex;
    flex-flow: column;
    min-height: inherit;
    overflow-x: hidden;
    z-index: 3;
}

@media (min-width: 1280px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}

.content {
    position: relative;
    display: block;
    flex: 1 0 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    color: var(--c-headings);
}

h1, .h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    @media(max-width: 1199px){
        font-size: 44px;
    }
    @media(max-width: 575px){
        font-size: 32px;
    }
}

h2, .h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.41;
    @media(max-width: 1199px){
        font-size: 28px;
    }
    @media(max-width: 575px){
        font-size: 23px;
    }
}

h3, .h3 {
    font-size: 24px;
    line-height: 1.17;
    @media(max-width: 1199px){
        font-size: 20px;
    }
    @media(max-width: 575px){
        font-size: 18px;
    }
}

h4, .h4 {
    font-size: 20px;
    line-height: 1.5;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;

}

a {
    text-decoration: none;
    color: var(--c-black);
    transition: .2s;

    &:hover {
        text-decoration: none;
    }
    &:active {
        color: var(--c-black);
    }
}

.link {
    @extend a;

    &--dotted {
        text-decoration: none;
        border-bottom: 2px dotted;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
    clear: both;
}

.text-content{
    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        > li {
            padding-left: 30px;
        }
        li {
            margin: 15px 0;
            line-height: 1.9;
        }
    }

    ul {
        > li {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0.7em;
                left: 0;
                width: 8px;
                height: 8px;
                background-color: black;
                border-radius: 100%;
            }
        }
    }

    ol {
        counter-reset: list 0;
        ul {
            opacity: 0.8;
        }
        > li {
            position: relative;
            font-size: 14px;
            &::before {
                counter-increment: list;
                content: counter(list) ".";
                position: absolute;
                top: -1rem;
                left: 0;
                font-family: 'Playfair Display';
                font-size: 24px;
            }
            ol {
                counter-reset: sublist 0;
                li {
                    font-size: 13px;
                    &::before {
                        counter-increment: sublist;
                        content: counter(list) "." counter(sublist);
                        font-size: 20px;
                    }
                }
            }
        }
    }

    p {
        margin: 10px 0;
        line-height: 1.9;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        b{
            font-weight: 500;
        }
    }
}

hr {
    margin: 10px 0;
}


.form-col__title{
    margin-bottom: 22px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #001424;
    @media(max-width: 1199px){
        font-size: 18px;
    }
    @media(max-width: 1199px){
        margin-bottom: 10px;
    }
}

.radio{
    position: relative;
    &:not(:last-child){
        margin-bottom: 13px;
    }
    .radio__label{
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        cursor: pointer;
    }
    .radio__input{
        display: none;
        &:checked+.radio__emulator:after {
            transform: scale(1);
        }
    }
    .radio__emulator {
        position: absolute;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;

        line-height: 18px;
        text-align: center;
        border: 1px solid var(--c-blue);
        border-radius: 100%;
        z-index: 1;
        transition: .2s;
        &:after {
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             transform: scale(0);
             width: 10px;
             height: 10px;
             margin: auto;
             background-color: var(--c-blue);
             border-radius: 100%;
        }
    }
    .radio__text{
        margin-left: 10px;
        font-size: 14px;
        line-height: 1.29;
        color: #1E303E;
    }
}

.page,
.archive,
.single{
    .section-main {
        padding-bottom: 60px;
    }
    section.content{
        padding: 80px 0;
    }
    @media(max-width:575px){
        .section-main {
            padding-bottom: 30px;
        }
        section.content {
            padding: 30px 0;
        }
    }
}
.archive{
}
.nav-tabs .nav-link{
    flex: 1;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #001424;
    text-align: center;

    border: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
    &.active{
        border-bottom: 1px solid #CB2123;
    }
}
.tab-content{
    padding-top: 80px;
    @media(max-width:575px){
        padding-top: 30px;
    }
}
.accordion{
    .card{
        padding: 0;
        border: 0;
        text-align: left;
    }
    .card-header{
        padding: 25px 0;
        border-bottom: 1px solid #001424;
        background: none;
    }
    .btn{
        justify-content: space-between;
        padding: 0;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        color: #001424;
        &:focus,
        &:hover{
            text-decoration: none !important;
        }
        @media(max-width: 575px){
            font-size: 16px;
        }
    }
    .card-body{
        padding-left: 0;
        font-size: 14px;
        line-height: 1.57;
        color: #1E303E;
    }
    .card-header .btn:after {
        content: "";
        min-width: 51px;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        background-color: #CB2123;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.1924 7.32324L22.478 8.60889L8.3359 22.751L7.05025 21.4654L21.1924 7.32324Z' fill='white'/%3E%3Cpath d='M22.4785 21.4663L21.1929 22.752L7.05073 8.60982L8.33638 7.32417L22.4785 21.4663Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        float: right;
        @media(max-width: 575px){
            min-width: 35px;
            width: 35px;
            height: 35px;
        }
    }
    .card-header .btn.collapsed:after {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.85449 0.0380859H11.6727V20.0381H9.85449V0.0380859Z' fill='white'/%3E%3Cpath d='M20.7646 9.12891L20.7646 10.9471L0.764648 10.9471L0.764648 9.12891L20.7646 9.12891Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}
